---
import Layout from '@/layouts/Layout.astro';
import Nav from '@/components/layout/Nav.astro';
import Hero from '@/components/features/Hero.astro';
import Stats from '@/components/features/Stats.astro';
import Services from '@/components/features/Services.astro';
import Process from '@/components/features/Process.astro';
import Showroom from '@/components/features/Showroom.astro';
import Blog from '@/components/features/Blog.astro';
import Contact from '@/components/features/Contact.astro';
import Footer from '@/components/layout/Footer.astro';
---

<Layout title="Diseño de Interiores y Remodelaciones de Lujo">
	<Nav />
	
	<main>
		<Hero />
		<Stats />
		<Services />
		<Process />
		<Showroom />
		<Blog />
		<Contact />
	</main>
	<Footer />
</Layout>
